<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" src="../style.css">
</head>
<body>

    <form  method="post" >
        <h1>Register Here</h1>
    <div class="ip">
        <input  type="text" name="name" placeholder="Name">
        <input  type="email" name="email" placeholder="Email">
        <input  type="password" name="password" placeholder="Password">
    </div>
        <button type="submit" style="background-color: aquamarine;">Sign Up</button>
    
    
    </form>
    
</body>
</html>